<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colCount</key>
		<integer>1</integer>
		<key>rowData</key>
		<array/>
	</dict>
	<dict>
		<key>colCount</key>
		<integer>1</integer>
		<key>rowData</key>
		<array/>
	</dict>
	<dict>
		<key>colCount</key>
		<integer>2</integer>
		<key>rowData</key>
		<array>
			<dict>
				<key>icon</key>
				<string>account_my_redrepper</string>
				<key>title</key>
				<string>我的红包</string>
				<key>subtitle</key>
				<string>个可用</string>
				<key>arrow</key>
				<false/>
				<key>action</key>
				<string>pushRedpacket</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>account_jdcards</string>
				<key>title</key>
				<string>我的京东卡</string>
				<key>subtitle</key>
				<string>投资抽取京东卡</string>
				<key>arrow</key>
				<false/>
				<key>action</key>
				<string>pushJDCards</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>account_my_extend</string>
				<key>title</key>
				<string>我的推广</string>
				<key>subtitle</key>
				<string>推荐好友有奖励</string>
				<key>arrow</key>
				<false/>
				<key>action</key>
				<string>pushPromote</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>account_my_reward</string>
				<key>title</key>
				<string>可提奖励</string>
				<key>subtitle</key>
				<string>元</string>
				<key>arrow</key>
				<false/>
				<key>action</key>
				<string>pushReward</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>colCount</key>
		<integer>1</integer>
		<key>rowData</key>
		<array>
			<dict>
				<key>icon</key>
				<string>account_my_invest</string>
				<key>title</key>
				<string>我的投资</string>
				<key>subtitle</key>
				<string></string>
				<key>arrow</key>
				<true/>
				<key>action</key>
				<string>pushInvest</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>account_repay_calendar</string>
				<key>title</key>
				<string>回款日历</string>
				<key>subtitle</key>
				<string>笔</string>
				<key>arrow</key>
				<false/>
				<key>action</key>
				<string>pushPayCalendar</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>account_auto_loan</string>
				<key>title</key>
				<string>自动投标</string>
				<key>subtitle</key>
				<string>抢标不用愁</string>
				<key>arrow</key>
				<false/>
				<key>action</key>
				<string>pushAutoLoan</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>colCount</key>
		<integer>1</integer>
		<key>rowData</key>
		<array>
			<dict>
				<key>icon</key>
				<string>account_fund_record</string>
				<key>title</key>
				<string>资金记录</string>
				<key>subtitle</key>
				<string>资金流水一目了然</string>
				<key>arrow</key>
				<true/>
				<key>action</key>
				<string>pushFundRecord</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>account_bank_cards</string>
				<key>title</key>
				<string>我的银行卡</string>
				<key>subtitle</key>
				<string>张</string>
				<key>arrow</key>
				<true/>
				<key>action</key>
				<string>pushBanks</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>colCount</key>
		<integer>1</integer>
		<key>rowData</key>
		<array>
			<dict>
				<key>icon</key>
				<string>account_customer_seervice</string>
				<key>title</key>
				<string>客服中心</string>
				<key>subtitle</key>
				<string></string>
				<key>arrow</key>
				<true/>
				<key>action</key>
				<string>pushCustomerCenter</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
