<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>关于我们</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>安全保障 </string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>常见问题</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>拨打客服热线</string>
		<key>description</key>
		<string>400-889-6099</string>
	</dict>
</array>
</plist>
