<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.jzy.kaisafax.app.RewardController.extractableRewardInfo</key>
	<string>ValidRewards</string>
	<key>com.jzy.kaisafax.app.RewardController.listCoupons</key>
	<string>Rewards</string>
	<key>com.jzy.kaisafax.app.AccountManagerController.accumulatedIncome</key>
	<string>AccumulatedIncome</string>
	<key>com.jzy.kaisafax.app.JingDongEController.getCardPwd</key>
	<string>JDExtractItem</string>
	<key>com.jzy.kaisafax.app.JingDongEController.extract</key>
	<string>JDExtractBalances</string>
	<key>com.jzy.kaisafax.app.JingDongEController.provideRecordList</key>
	<string>JDProvideList</string>
	<key>com.jzy.kaisafax.app.JingDongEController.extractRecordList</key>
	<string>JDExtractList</string>
	<key>com.jzy.kaisafax.app.PromotionController.promoteForConfigurable</key>
	<string>Promote</string>
	<key>com.jzy.kaisafax.app.PromotionController.commissionStat</key>
	<string>PromoteStat</string>
	<key>com.jzy.kaisafax.app.PromotionController.inviteList</key>
	<string>BInviteUser</string>
	<key>com.jzy.kaisafax.app.CaptchaController.sendCaptcha</key>
	<string></string>
	<key>com.jzy.kaisafax.app.CaptchaController.validateCaptcha</key>
	<string></string>
	<key>com.jzy.kaisafax.app.RegisterController.register</key>
	<string>UserInfo</string>
	<key>com.jzy.kaisafax.app.LoginController.login</key>
	<string>UserInfo</string>
	<key>com.jzy.kaisafax.app.LoginController.logout</key>
	<string></string>
	<key>com.jzy.kaisafax.app.LoginController.resetPassword</key>
	<string></string>
	<key>com.jzy.kaisafax.app.AccountSecurityController.modifyPassword</key>
	<string></string>
	<key>com.jzy.kaisafax.app.LoginController.syncUserInfo</key>
	<string>UserInfo</string>
	<key>com.jzy.kaisafax.app.LoginController.refreshSessionId</key>
	<string></string>
	<key>com.jzy.kaisafax.app.AccountManagerController.accountAssets</key>
	<string>NewAssets</string>
	<key>com.jzy.kaisafax.app.BankCardController.unbindBankAccount</key>
	<string></string>
	<key>com.jzy.kaisafax.app.LoanController.customLoans</key>
	<string>Loans</string>
	<key>user/extractableReward</key>
	<string>ValidRewards</string>
	<key>account/rewards/invoked</key>
	<string>ValidRedReward</string>
	<key>com.jzy.kaisafax.app.LoanController.loanDetail</key>
	<string>LoanDetail</string>
	<key>inviteList</key>
	<string>InviteUser</string>
	<key>com.jzy.kaisafax.app.InvestController.autoInvest</key>
	<string>InvestAutoInfo</string>
	<key>com.jzy.kaisafax.app.BankCardController.userBankcard</key>
	<string>CardItem</string>
	<key>com.jzy.kaisafax.app.AccountSecurityController.modifyContactor</key>
	<string></string>
	<key>com.jzy.kaisafax.app.LoanController.filterLoans</key>
	<string>Loans</string>
	<key>com.jzy.kaisafax.app.InvestController.saveAutoInvest</key>
	<string></string>
	<key>com.jzy.kaisafax.app.BankCardController.bankList</key>
	<string>BankList</string>
	<key>com.jzy.kaisafax.app.AccountSecurityController.modifyAddress</key>
	<string></string>
	<key>com.jzy.kaisafax.app.InvestController.userInvest</key>
	<string>UserInvests</string>
	<key>com.jzy.kaisafax.app.LoanController.investRecordByLoan</key>
	<string>InvestRecord</string>
	<key>com.jzy.kaisafax.app.HomeController.bannerNoticeOperation</key>
	<string>HomeTogether</string>
	<key>com.jzy.kaisafax.app.HomeController.openScreenAdvert</key>
	<string>Advert</string>
	<key>com.jzy.kaisafax.app.AppCheckController.checkVersion</key>
	<string>Version</string>
	<key>com.jzy.kaisafax.app.AccountManagerController.withdrawPre</key>
	<string>Withdraw</string>
	<key>com.jzy.kaisafax.app.AccountManagerController.depositPre</key>
	<string>Recharge</string>
	<key>account/rewards/totalAvaliableReward</key>
	<string>ValidTotalReward</string>
	<key>account/getJdPwd</key>
	<string>JDExtractItem</string>
	<key>com.jzy.kaisafax.app.AccountSecurityController.areaInfo</key>
	<string>AreaArray</string>
	<key>invest/closeAutoInvest</key>
	<string></string>
	<key>com.jzy.kaisafax.app.InvestController.investRepay</key>
	<string>InvestRepay</string>
	<key>com.jzy.kaisafax.app.AccountSecurityController.modifyEmail</key>
	<string></string>
	<key>com.jzy.kaisafax.app.AccountSecurityController.userSecurityInfo</key>
	<string>PersonInfo</string>
	<key>account/jdExtract</key>
	<string>JDExtractBalances</string>
	<key>account/jdProvideList</key>
	<string>JDProvideList</string>
	<key>set/modifyMobile</key>
	<string></string>
	<key>com.jzy.kaisafax.app.BankCardController.pnrSynCard</key>
	<string>CardItem</string>
	<key>account/jdExtractList</key>
	<string>JDExtractList</string>
	<key>account/jdDetail</key>
	<string>JDExtractItem</string>
	<key>com.jzy.kaisafax.app.HomeController.ownerRecommendLoans</key>
	<string>ORLoan</string>
	<key>com.jzy.kaisafax.app.HomeController.noviceLoan</key>
	<string>Newbee</string>
	<key>register/redpacket</key>
	<string>RegRedPack</string>
	<key>com.jzy.kaisafax.app.AccountManagerController.userFundRecord</key>
	<string>UserFR</string>
</dict>
</plist>
